<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

        <!-- Bootstrap -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Response Page</title>
        <link rel="icon" type="image/x-icon" href="rims.jfif">
    </head>
    <body>
        <h1 class = tt>Audi</h1>
        <h4 class = brandi> Choose a model below </h4>

        <form action= '/moneypage' class = twoform>
            <label for="amodels">Choose an Audi model:</label>
            <select id="amodels" name="amodels">

                <option value="C4">100 C4 (1989-1993)</option>
                <option value="B2">80 B2 (1979-1986)</option>
                <option value="Quattro">B2 Quattro (1980-1991)</option>
                <option value="D2">A8 D2 (1994-2002)</option>
                <option value="B7">A4 B7 (2004-2009)</option>
                <option value="R8">R8 42 (2006-2015)</option>
                <option value="D4">A8 D4 (2010-2017)</option>
                <option value="TT">TT 8S (2014-2022)</option>
                <option value="B9">A4 B9 (2016-2022)</option>
                <option value="Q8">Q8 (2019-2022)</option>

            </select>
            <input type="submit" value="Submit">
    </body>
</html>
