<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

        <!-- Bootstrap -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Response Page</title>
    </head>
    <body>
        <h1 class = tt>BMW</h1>
        <h4 class = brandi> Choose a model below  </h4>

        <form action= '/moneypage' class = twoform>
            <label for="bmodels">Choose an BMW model:</label>
            <select id="bmodels" name="bmodels">
                <option value="02">2002(1966-1977)</option>
                <option value="e30">E30 3-Series(1982-1994)</option>
                <option value="e31">E31 8-Series(1989-1999)</option>
                <option value="e36">E36 3-Series(1990-2000)</option>
                <option value="e39">E39 5-Series(1995-2003)</option>
                <option value="e46">E46 3-Series(1998-2006)</option>
                <option value="e60">E60 5-Series(2003-2010)</option>
                <option value="e89">E89 Z-4 Roadster(2009-2016)</option>
                <option value="f30">F30 3-Series(2011-2020)</option>
                <option value="g11">G11 7-Series(2015-2022)</option>
                <option value="g22">G22 4-Series(2020-2022)</option>


            </select>
            <input type="submit" value="Submit">

    </body>
</html>
