<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

        <!-- Bootstrap -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Response Page</title>
    </head>
    <body>
        <h1 class = tt> Mercedes-Benz </h1>
        <h4 class = brandi> Choose a model below </h4>
        <form action= '/moneypage' class = twoform>
            <label for="models">Choose an Mercedes-Benz model:</label>
            <select id="models" name="models">
                <option value="W123">E-Class (1976-1986)</option>
                <option value="W126">S-Class (1979-1991)</option>
                <option value="W201">C-Class (1982-1993)</option>
                <option value="R129">SL-Class (1989-2002)</option>
                <option value="C208">CLK-Class (1997-2003)</option>
                <option value="W463">G-Wagon (1990-2018)</option>
                <option value="R230">SL-Class (2001-2011)</option>
                <option value="C199">SLR-Mclaren (2003-2010)</option>
                <option value="C190">AMG-GT (2015-2022)</option>
                <option value="W116">Maybach (2015-2022)</option>
            </select>
            <input type="submit" value="Submit">

            <p>
                Mercedes-Benz, commonly referred to as just Mercedes, is a German luxury automotive marque. Both Mercedes-Benz and Mercedes-Benz AG (a Mercedes-Benz Group subsidiary established in 2019) are headquartered in Stuttgart, Baden-Württemberg, Germany. Mercedes-Benz produces consumer luxury vehicles and commercial vehicles.[note 2] Its first Mercedes-Benz-badged vehicles were produced in 1926. In 2018, Mercedes-Benz was the largest seller of premium vehicles in the world, having sold 2.31 million passenger cars.[8]The companys origins lie in Daimler-Motoren-Gesellschafts 1901 Mercedes and Karl Benzs 1886 Benz Patent-Motorwagen, which is widely regarded as the first internal combustion engine in a self-propelled automobile. The slogan for the brand is "the best or nothing".
            </p>
    </body>
</html>
